include ../layout

block content

    div.row
        div.col-md-4
            // navbar here

        div.col-md-8
            div.col-md-12
                form
                    div.col.md-5.form-group
                        div.form-control
                            // SETTINGS FOR FIRST HALF OF PAGE
                    div.col.md-5.form-group
                        div.form-control
                            // SETTTINGS FOR SECOND HALF OF PAGE


