include ../layout

block content

    div.row
        div.col-md-4
            ul.list-group
                li.list-group-item
                    a.tag.tag-default.tag-pill.float-xs-right(href="#") (Activities)
                li.list-group-item
                    a.tag.tag-default.tag-pill.float-xs-right(href="#") (Favorites)
                li.list-group-item
                    a.tag.tag-default.tag-pill.float-xs-right(href="#") (Settings)
                li.list-group-item
                    a.tag.tag-default.tag-pill.float-xs-right(href="#") (Settings)


        div.col-md-8
            form.row
                div.col-md-6.form-group

                    div.form-control
                        // SETTINGS FOR FIRST HALF OF PAGE
                div.col-md-6.form-group
                    div.form-control
                        // SETTTINGS FOR SECOND HALF OF PAGE


