include layout

div.jumbotron.text-center
    h1 <span class="fa fa-lock"></span> Authentication

    p Login or Register with:

    a.btn.btn-default(href="/auth/login") <span class="fa fa-user"></span> Login
    a.btn.btn-default(href="/auth/signup") <span class="fa fa-user"></span> Signup

