<h1>{{{title}}}</h1>


<!-- THIS IS THE COMPLETE CONTENT -->

<div class="row justify-content-center">
    <div class="col-sm-5">
        <img class="img-fluid" src="images/testimg.png">
        <div class="categories">

            <!--THIS IS SPACE FOR TAGS-->
        <button type="button" class="btn btn-outline-primary">Category</button>
        <button type="button" class="btn btn-outline-primary">Category</button>
        <button type="button" class="btn btn-outline-primary">Category</button>
        <button type="button" class="btn btn-outline-primary">Category</button>



        </div>
    </div>
    <div class="col-sm-6" style="padding-top: 20px;">
        <p>Lorem ipsum dolor sit amet, lorem aeque vis ei, ex assum dicit est.
            Ne quo debitis delectus mediocrem. His omnes affert appetere te,
            graece utamur ex sit. Vim cu mucius verterem. Abhorreant incorrupte quo ad,
            ad mel tacimates dissentiet.</p>
    </div>
</div>
<hr>
<div class="row">
<div class="col-sm-6"><img class="img-fluid" src="images/testimg.png"></div>
<div class="col-sm-6"><img class="img-fluid" src="images/testimg.png"></div>
<div class="col-sm-6"><img class="img-fluid" src="images/testimg.png"></div>
<div class="col-sm-6"><img class="img-fluid" src="images/testimg.png"></div>
</div>
