<div class="jumbotron">
  <h1 class="display-3">Jumbotron thing</h1>
  <p class="lead">Stuff here</p>
  <hr class="my-4">
  <p>More junk here?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">It's a button</a>
  </p>
</div>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
