html(lang="en")
    head
        title Groupy
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- BOOTSTRAP
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

        block script
            script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js')


        //- CUSTOM CSS STYLE
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')


    body.container-fluid
        include navbar

        block content

    block footer

    block script
        script(src="/js/auth_route.js")
        script(src="/js/profile_route.js")
        script(src="/js/script.js")




