include layout

div.jumbotron
    h1.display-3 Jumbotron thing

    p.lead Stuff here

    hr.my-4

    p More Junk Here?

    p.lead
        a.btn.btn-primary.btn-lg(href="#" type="button") It's a button


p #{title}
p Welcome to #{title}