nav.navbar.navbar-expand-lg.navbar-light.bg-light

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse.justify-content-end
        div.navbar-nav
            a.nav-item.nav-link(href='/explore') Explore
            a.nav-item.nav-link(href='/about') About

        a.navbar-brand(href='/') Name Pending

    if (!user)
        div.collapse.navbar-collapse.justify-content-start
            div.navbar-nav
                a.nav-item.nav-link(href="/auth/signup") Register
                a.nav-item.nav-link(href="/auth/login") Login
    else
        div.collapse.navbar-collapse.justify-content-start
            span= user.username
