html(lang="en")
    head
        title Groupy
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //// BOOTSTRAP
        //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

        // CUSTOM CSS STYLE
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='bootstrap.min.css')

block content

    div.col-sm-6.col-sm-offset-3
        h1 <span class="fa fa-sign-in"></span> Signup

        div.alert.alert-danger #{message}

            form
                div.form-group
                    label Email
                    input.form-control(type="text" name="userName")

                div.form-group
                    label Password
                    input.form-control(type="password" name="password")

                button.btn.btn-warning.btn-lg Signup

            hr

            p Already have an account? <a href="/auth/login">Login</a>
            p Or go <a href="/">home</a>
