body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.categories button{
    margin: 5px 10px 5px 10px;
}



/*=======================================
            ERROR STYLES
=======================================*/

#err-message {
    display: none;
}
