body {
    /*padding: 50px;*/
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    /*color: #00B7FF;*/
    cursor: hand;
}

a:hover {
    text-decoration: none;
}

.categories button {
    margin: 5px 10px 5px 10px;
}

/*=======================================
            ERROR STYLES
=======================================*/

#err-message,
#success-message {
    display: none;
    text-transform: capitalize;
}

/*=======================================
        BOOTSTRAP OVERRIDES
=======================================*/

span.glyphicon {
    display: inline-block;
    padding-right: .5em;
}

a.tag {
    padding-left: .35em;
}

.w-100 {
    width: 98%!important;
}

.form-control, .btn {
    font-size: 1em;
    margin: .2em;
    padding-top: 0;
    padding-bottom: 0;
}

/*=======================================
        USER DASHBOARD STYLES
=======================================*/

label {
    padding: .14em 0;
}

.profile a {
    padding-right: .35em;
}

.profile a:first-child:after {
    content: ' /';
    color: #95a5a6;
}

#status {
    display: none;
}

.avatar {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.avatar-img {
    max-height: 224px;
    max-width: 176px;
    min-height: 96px;
    min-width: 84px;
    width: 176px;
    height: 224px;
}

/*=======================================
        USER FORM STYLES
=======================================*/
