body {
    /*padding: 50px;*/
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    /*color: #00B7FF;*/
    cursor: hand;
}

a:hover {
    text-decoration: none;
}

.categories button {
    margin: 5px 10px 5px 10px;
}

/*=======================================
            ERROR STYLES
=======================================*/

#err-message {
    display: none;
}

/*=======================================
        BOOTSTRAP OVERRIDES
=======================================*/

span.glyphicon {
    display: inline-block;
    padding-right: .5em;
}

a.tag {
    padding-left: .35em;
}

.w-100 {
    width: 98%!important;
}


/*=======================================
        USER DASHBOARD STYLES
=======================================*/

.profile a {
    padding-right: .35em;
}

.profile a:first-child:after {
    content: ' /';
    color: #95a5a6;
}

