
// FOR CREATING NEW ACTIVITIES
form#activityNew.activity
    div.col-md-6.form-group
        label(for="title") Title
            input.form-control#title(type="text")

        label(for="categoryName") Category
            select.form-control#categoryName
                if categories
                    each category in categories
                        option(value=category.activity_category_id)= category.category_name

        label(for="start") Listing Start Date
            input.form-control#start(type="date")

        label(for="end") Listing End Date
            input.form-control#end(type="date" )

        label(for="minActor") Min. People
            input.form-control#minActor(type="number" min=1 )
        label(for="maxActor") max. People
            input.form-control#maxActor(type="number" min=2 )

        label(for="summary") Summary
            textarea.form-control#summary(rows="3" cols="50")

        label(for="detail") Details
            textarea.form-control#detail(rows="3" cols="50")

        button.btn.btn-dark(type="submit") Add Activity


    div.col-md-6.form-group
        // SETTTINGS FOR SECOND HALF OF PROFILE PAGE
        div.activity
            label(for="activityLocation") Location
                input.form-control#activityLocation(type="text"
                value="2444 VR Drive, SF, CA, 98411" )

        // TODO :: UPLOAD ACTIVITY IMAGE
        div.activity.text-center
            img#activityImg.activity-img.img-circle(src="http://via.placeholder.com/350x150" alt="activity image")
            h6 Upload a different photo...

        //div.text-right
        //    form#uploadForm(action="/upload" method="POST" enctype="multipart/form-data")
        //        input#fileToUpload.form-control(type="file" name="imgfile")
        //        button.btn.btn-dark(type="submit") Upload

                //input#activityFile.form-control(type="file" name="imgfile")
                //button.btn.btn-dark(type="submit") Upload