include ../layout

block content

    div.row
        div.col-md-2
            ul.list-group
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="/user") Dashboard
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="/user/activities") Activities
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Favorites
                li.list-group-item
                    span.glyphicon.glyphicon-envelope
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Profile
                li.list-group-item
                    span.glyphicon.glyphicon-cog
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Settings


        //- (NOTES) ALL ROUTES MARKED WITH AN 'ID' NAME ARE JQUERY ROUTES
        //- (TODO) :: ADD JQUERY FORM VALIDATION
        div.col-md-10
            div.row
                ol.breadcrumb.mr-auto.w-100
                    li.breadcrumb-item
                        a(href="/") Home
                    li.breadcrumb-item.active
                    if view === 'dashboard'
                        a Dashboard
                    if view === 'activities'
                        a Activities

            div.row
                h4#message.alert.alert-success.w-100


                // TODO :: ADD CONDITIONAL TO DISPLAY DASHBOARD
                if view === "dashboard"
                    include user-dashboard

                // TODO :: ADD CONDITIONAL TO DISPLAY ACTIVITIES

                // FOR VIEWING ALL ACTIVITIES CREATED BY USER
                if view === "activities"
                    legend
                        a(href="/user/activity/new") Add New
                    include activity-all

                // CREATE A NEW ACTIVITY
                if view === "activities-new"
                    include activity-new





